<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{page_layout/layout}">

<head>
    <meta charset="UTF-8">
    <title>Our Pets</title>
</head>
<body>
<div layout:fragment="main-content">

    <div th:if="${ not#lists.isEmpty(pets)}">
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Species</th>
                <th>Sex</th>
                <th>Photo</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="pet : ${pets}" >
                <td th:text="${pet.id}"></td>
                <td th:text="${pet.name}" ></td>
                <td th:text="${pet.species}"></td>
                <td th:text="${pet.sex}"></td>
                <td>
                    <img th:src="@{${pet.imageUrl}}" alt="Pet Image" width="100">
                </td>

            </tr>
            </tbody>
        </table>
    </div>
    <div th:if="${ #lists.isEmpty(pets)}">
        No pets found!
    </div>


</div>
</body>
</html>

